<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HZC | Pico</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>

    <header class="header">
        <button class="header__menu" aria-label="Menu" data-menu><span></span></button>
        <img src="../assets/img/logo.svg" alt="Logotipo da HZC" class="header__logo">
        <!-- desktop version changes -->
        <p class="header__profile">Bruno Lopes</p>
        <!-- end of desktop version changes -->
        <button class="header__notification" aria-label="Notificação"><span></span></button>
    </header>

    <nav class="sidebar sidebar--inactive" data-sidebar>
        <img src="../assets/img/logo.svg" alt="Logo da HZC" class="sidebar__logo">
        <a href="../index.html" class="sidebar__link sidebar__link--inicio">Início</a>
        <a href="#" class="sidebar__link sidebar__link--videos">Vídeos</a>
        <a href="./picos.html" class="sidebar__link sidebar__link--picos sidebar__link--active">Picos</a>
        <a href="#" class="sidebar__link sidebar__link--integrantes">Integrantes</a>
        <a href="#" class="sidebar__link sidebar__link--camisas">Camisas</a>
        <a href="#" class="sidebar__link sidebar__link--pinturas">Pinturas</a>
    </nav>

    <main class="main main-article">

        <section class="section-article">
            <img src="../assets/img/artigo-mobile_1.png" alt="Foto do pico Gap do Itaú da Voluntários" class="article__image--mobile">

            <img src="../assets/img/artigo_1.png" alt="Foto do pico Gap do Itaú da Voluntários" class="article__image--desktop">

            <article class="article">
                <h2 class="card__title article__title">Gap do Itaú da Voluntários da Pátria</h2>

                <p class="card__info card__info--article card__info--profile">Bruno Lopes</p>
                <p class="card__info card__info--article card__info--views card__info--article-views">53 visualizações</p>

                <p class="article__text--mobile">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat!</p>

                <p class="article__text--desktop">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat! Facilis interdum debitis, deserunt fermentum quas mattis interdum penatibus. Dictum laboris diamlorem, repellat, aut ligula. Quam tellus, facilisis possimus? Quidem nunc! Aenean sem! Curabitur eos felis porro integer consectetuer consectetur. Porttitor, convallis, sapien earum inventore dapibus facilis, facilis semper. Tempora senectus dictumst odio vivamus pariatur, praesentium laoreet, hendrerit duis proin excepturi, torquent et, sem, eu temporibus aut placerat nostrum. Parturient perspiciatis nesciunt. Earum ligula habitasse quo laoreet.</p>

                <img src="../assets/img/artigo_2.png" alt="Mapa do pico Gap do Itaú da Voluntários" class="article__image">

                <p class="article__text--mobile">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate?</p>

                <p class="article__text--desktop">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat! Facilis interdum debitis, deserunt fermentum quas mattis interdum penatibus. Dictum laboris diamlorem, repellat, aut ligula. Quam tellus, facilisis possimus? Quidem nunc! Aenean sem! Curabitur eos felis porro integer consectetuer consectetur. Porttitor, convallis, sapien earum inventore dapibus facilis, facilis semper. Tempora senectus dictumst odio vivamus pariatur, praesentium laoreet, hendrerit duis proin excepturi, torquent et, sem, eu temporibus aut placerat nostrum. Parturient perspiciatis nesciunt. Earum ligula habitasse quo laoreet.</p>

                <img src="../assets/img/artigo_3.png" alt="Ilustração de skatista" class="article__image article__gallery">

                <img src="../assets/img/artigo_4.png" alt="Foto de skatista" class="article__image article__gallery">

                <p class="article__text--mobile">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat! Facilis interdum debitis, deserunt fermentum quas mattis interdum </p>

                <p class="article__text--desktop">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat! Facilis interdum debitis, deserunt fermentum quas mattis interdum penatibus. Dictum laboris diamlorem, repellat, aut ligula. Quam tellus, facilisis possimus? Quidem nunc! Aenean sem! Curabitur eos felis porro integer consectetuer consectetur. Porttitor, convallis, sapien earum inventore dapibus facilis, facilis semper. Tempora senectus dictumst odio vivamus pariatur, praesentium laoreet, hendrerit duis proin excepturi, torquent et, sem, eu temporibus aut placerat nostrum. Parturient perspiciatis nesciunt. Earum ligula habitasse quo laoreet.</p>

            </article>

        </section>

        <!-- desktop version changes -->
        <section class="section section-videos section-place">
            <h3 class="card__title card__title--desktop">Outros picos similares</h3>

            <article class="card card-place">
                <img src="../assets/img/pico_2.jpg" alt="Foto do pico Gap com mureta da Voluntários" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">Luiza Sampaio</p>
                    <h3 class="card__title card__title--desktop">Gap com mureta da Voluntários</h3>
                    <p class="card__info card__info--views">53 visualizações</p>
                    <button class="card__button card__button--map" aria-label="Botão de localização"></button>
                </div>
            </article>

            <article class="card card-place">
                <img src="../assets/img/pico_3.jpg" alt="Foto do pico Rampa da entrada do túnel Rebouças" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">André Soares</p>
                    <h3 class="card__title card__title--desktop">Rampa da entrada do túnel Rebouças</h3>
                    <p class="card__info card__info--views">53 visualizações</p>
                    <button class="card__button card__button--map" aria-label="Botão de localização"></button>
                </div>
            </article>
            
            <article class="card card-place">
                <img src="../assets/img/pico_4.jpg" alt="Foto do pico Wallride de pedra portuguesa da FGV" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">Júlia Fonseca</p>
                    <h3 class="card__title card__title--desktop">Wallride de pedra portuguesa da FGV</h3>
                    <p class="card__info card__info--views">53 visualizações</p>
                    <button class="card__button card__button--map" aria-label="Botão de localização"></button>
                </div>
            </article>

            <article class="card card-place">
                <img src="../assets/img/pico_1.jpg" alt="Foto do pico Gap do Itaú da Voluntários da Pátria" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">Bruno Lopes</p>
                    <h3 class="card__title card__title--desktop">Gap do Itaú da Voluntários da Pátria</h3>
                    <p class="card__info card__info--views">53 visualizações</p>
                    <button class="card__button card__button--map" aria-label="Botão de localização"></button>
                </div>
            </article>
        </section>
        <!-- end of desktop version changes -->

    </main>

    <script src="../script.js"></script>
    
</body>
</html>