<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HZC | Picos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>

    <header class="header">
        <button class="header__menu" aria-label="Menu" data-menu><span></span></button>
        <img src="../assets/img/logo.svg" alt="Logotipo da HZC" class="header__logo">
        <!-- desktop version changes -->
        <p class="header__profile">Bruno Lopes</p>
        <!-- end of desktop version changes -->
        <button class="header__notification" aria-label="Notificação"><span></span></button>
    </header>

    <nav class="sidebar sidebar--inactive" data-sidebar>
        <img src="../assets/img/logo.svg" alt="Logo da HZC" class="sidebar__logo">
        <a href="../index.html" class="sidebar__link sidebar__link--inicio sidebar__link--active">Início</a>
        <a href="#" class="sidebar__link sidebar__link--videos">Vídeos</a>
        <a href="./picos.html" class="sidebar__link sidebar__link--picos">Picos</a>
        <a href="#" class="sidebar__link sidebar__link--integrantes">Integrantes</a>
        <a href="#" class="sidebar__link sidebar__link--camisas">Camisas</a>
        <a href="#" class="sidebar__link sidebar__link--pinturas">Pinturas</a>
    </nav>

    <main class="main main-pico">

        <h2 class="page-title">Picos</h2>

        <section class="highlight-video">
            <img src="../assets/img/picos-mobile.png" alt="Mapa de picos" class="section-map__image--mobile">
            <!-- desktop version changes -->
            <img src="../assets/img/picos.png" alt="Mapa de picos" class="section-map__image--desktop">
            <!-- end of desktop version changes -->
        </section>

        <!-- desktop version changes -->
        <article class="card card--recent videos-recents">
            <h3 class="card__title--recent">Favoritos</h3>
            <a href="#" class="card__link">Ver todos</a>
            <ul class="card__list">
                <li class="card__item">
                    <img src="../assets/img/miniatura-favoritos_1.png" alt="Thumbnail" class="card__item-thumbnail">
                    <h4 class="card__item-title">Wallride da FGP</h4>
                    <p class="card__item-profile">Júlia Fonseca</p>
                </li>
                <li class="card__item">
                    <img src="../assets/img/miniatura-favoritos_2.png" alt="Thumbnail" class="card__item-thumbnail">
                    <h4 class="card__item-title">Borda de valores</h4>
                    <p class="card__item-profile">Júlia Fonseca</p>
                </li>
                <li class="card__item">
                    <img src="../assets/img/miniatura-favoritos_3.png" alt="Thumbnail" class="card__item-thumbnail">
                    <h4 class="card__item-title">Wallride do Rebouças</h4>
                    <p class="card__item-profile">Júlia Fonseca</p>
                </li>
                <li class="card__item">
                    <img src="../assets/img/miniatura-favoritos_4.png" alt="Thumbnail" class="card__item-thumbnail">
                    <h4 class="card__item-title">Segundo setor da Praça Mauá</h4>
                    <p class="card__item-profile">Júlia Fonseca</p>
                </li>
                <li class="card__item">
                    <img src="../assets/img/miniatura-favoritos_5.png" alt="Thumbnail" class="card__item-thumbnail">
                    <h4 class="card__item-title">Borda de valores</h4>
                    <p class="card__item-profile">Júlia Fonseca</p>
                </li>
                <li class="card__item">
                    <img src="../assets/img/miniatura-favoritos_6.png" alt="Thumbnail" class="card__item-thumbnail">
                    <h4 class="card__item-title">Wallride do Rebouças</h4>
                    <p class="card__item-profile">Júlia Fonseca</p>
                </li>
            </ul>
        </article>
        <!-- end of desktop version changes -->

        <section class="section section-videos">
            <h3 class="title-section">Mais visitados</h3>

            <article class="card">
                <img src="../assets/img/pico_1.jpg" alt="Foto do pico Gap do Itaú da Voluntários da Pátria" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">Bruno Lopes</p>
                    <h3 class="card__title card__title--desktop">Gap do Itaú da Voluntários da Pátria</h3>
                    <p class="card__info card__info--views">53 visualizações</p>
                    <button class="card__button card__button--map" aria-label="Botão de localização"></button>
                </div>
            </article>

            <article class="card">
                <img src="../assets/img/pico_2.jpg" alt="Foto do pico Gap com mureta da Voluntários" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">Luiza Sampaio</p>
                    <h3 class="card__title card__title--desktop">Gap com mureta da Voluntários</h3>
                    <p class="card__info card__info--views">53 visualizações</p>
                    <button class="card__button card__button--map" aria-label="Botão de localização"></button>
                </div>
            </article>

            <article class="card">
                <img src="../assets/img/pico_3.jpg" alt="Foto do pico Rampa da entrada do túnel Rebouças" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">André Soares</p>
                    <h3 class="card__title card__title--desktop">Rampa da entrada do túnel Rebouças</h3>
                    <p class="card__info card__info--views">53 visualizações</p>
                    <button class="card__button card__button--map" aria-label="Botão de localização"></button>
                </div>
            </article>
            
            <article class="card">
                <img src="../assets/img/pico_4.jpg" alt="Foto do pico Wallride de pedra portuguesa da FGV" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">Júlia Fonseca</p>
                    <h3 class="card__title card__title--desktop">Wallride de pedra portuguesa da FGV</h3>
                    <p class="card__info card__info--views">53 visualizações</p>
                    <button class="card__button card__button--map" aria-label="Botão de localização"></button>
                </div>
            </article>
        </section>

    </main>

    <script src="../script.js"></script>

</body>

</html>