<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HZC | Vídeo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>

    <header class="header">
        <button class="header__menu" aria-label="Menu" data-menu><span></span></button>
        <img src="../assets/img/logo.svg" alt="Logotipo da HZC" class="header__logo">
        <!-- desktop version changes -->
        <p class="header__profile">Bruno Lopes</p>
        <!-- end of desktop version changes -->
        <button class="header__notification" aria-label="Notificação"><span></span></button>
    </header>

    <nav class="sidebar sidebar--inactive" data-sidebar>
        <img src="../assets/img/logo.svg" alt="Logo da HZC" class="sidebar__logo">
        <a href="../index.html" class="sidebar__link sidebar__link--inicio">Início</a>
        <a href="./videos.html" class="sidebar__link sidebar__link--videos sidebar__link--active">Vídeos</a>
        <a href="./picos.html" class="sidebar__link sidebar__link--picos">Picos</a>
        <a href="#" class="sidebar__link sidebar__link--integrantes">Integrantes</a>
        <a href="#" class="sidebar__link sidebar__link--camisas">Camisas</a>
        <a href="#" class="sidebar__link sidebar__link--pinturas">Pinturas</a>
    </nav>

    <main class="main main-article">

        <section class="section-article">
            <iframe src="https://www.youtube.com/embed/Ur1sCLjRR14" class="article__video article__video--mobile"></iframe>

            <article class="article">
                <h2 class="card__title article__title">HZC - Life is... / 2021</h2>

                <p class="card__info card__info--article card__info--profile">Bruno Lopes</p>
                <p class="card__info card__info--article card__info--time card__info--article-views">33 minutos</p>

                <p class="article__text--mobile">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat!</p>

                <p class="article__text--mobile">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat!</p>

                <p class="article__text--desktop">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat! Facilis interdum debitis, deserunt fermentum quas mattis interdum penatibus. Dictum laboris diamlorem, repellat, aut ligula. Quam tellus, facilisis possimus? Quidem nunc! Aenean sem! Curabitur eos felis porro integer consectetuer consectetur. Porttitor, convallis, sapien earum inventore dapibus facilis, facilis semper. Tempora senectus dictumst odio vivamus pariatur, praesentium laoreet, hendrerit duis proin excepturi, torquent et, sem, eu temporibus aut placerat nostrum. Parturient perspiciatis nesciunt. Earum ligula habitasse quo laoreet.</p>

                <p class="article__text--desktop">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat! Facilis interdum debitis, deserunt fermentum quas mattis interdum penatibus. Dictum laboris diamlorem, repellat, aut ligula. Quam tellus, facilisis possimus? Quidem nunc! Aenean sem! Curabitur eos felis porro integer consectetuer consectetur. Porttitor, convallis, sapien earum inventore dapibus facilis, facilis semper. Tempora senectus dictumst odio vivamus pariatur, praesentium laoreet, hendrerit duis proin excepturi, torquent et, sem, eu temporibus aut placerat nostrum. Parturient perspiciatis nesciunt. Earum ligula habitasse quo laoreet.</p>

                <img src="../assets/img/artigo-video_2.png" alt="Foto manobra de skate" class="article__image article__gallery">

                <img src="../assets/img/artigo-video_3.png" alt="Foto manobra de skate" class="article__image article__gallery">

                <p class="article__text--mobile">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat! Facilis interdum debitis, deserunt fermentum quas mattis interdum </p>

                <p class="article__text--desktop">Venenatis maecenas animi eiusmod nostrum, mauris alias quas. Recusandae, ridiculus porta nec eaque? Excepteur aut do quisquam ultricies, quos! Morbi ad magna sunt anim imperdiet iusto hymenaeos voluptate? Nostrum sapien hic non occaecat! Facilis interdum debitis, deserunt fermentum quas mattis interdum penatibus. Dictum laboris diamlorem, repellat, aut ligula. Quam tellus, facilisis possimus? Quidem nunc! Aenean sem! Curabitur eos felis porro integer consectetuer consectetur. Porttitor, convallis, sapien earum inventore dapibus facilis, facilis semper. Tempora senectus dictumst odio vivamus pariatur, praesentium laoreet, hendrerit duis proin excepturi, torquent et, sem, eu temporibus aut placerat nostrum. Parturient perspiciatis nesciunt. Earum ligula habitasse quo laoreet.</p>

            </article>

        </section>

        <!-- desktop version changes -->
        <section class="section section-videos section-place">
            <h3 class="card__title card__title--desktop">Vídeos mais vistos</h3>

            <article class="card card-place">
                <img src="../assets/img/video_1.png" alt="Capa do vídeo HZC - Tudo sem Padrin" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">André Soares</p>
                    <h3 class="card__title card__title--desktop">HZC - Tudo sem Padrin</h3>
                    <p class="card__info card__info--time">33 minutos</p>
                    <button class="card__button card__button--play" aria-label="Botão assistir agora"></button>
                </div>
            </article>

            <article class="card card-place">
                <img src="../assets/img/video_2.png" alt="Capa do vídeo HZC - Enter The Hu-flez" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">Bruno Lopes</p>
                    <h3 class="card__title card__title--desktop">HZC - Enter The Hu-flez</h3>
                    <p class="card__info card__info--time">33 minutos</p>
                    <button class="card__button card__button--play" aria-label="Botão assistir agora"></button>
                </div>
            </article>

            <article class="card card-place">
                <img src="../assets/img/video_3.png" alt="Capa do vídeo HZC - Vol.3" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">Luiza Sampaio</p>
                    <h3 class="card__title card__title--desktop">HZC - Vol.3</h3>
                    <p class="card__info card__info--time">33 minutos</p>
                    <button class="card__button card__button--play" aria-label="Botão assistir agora"></button>
                </div>
            </article>

            <article class="card card-place">
                <img src="../assets/img/video_4.png" alt="Capa do vídeo Love Machine" class="card__image--section">
                <div class="card__content">
                    <p class="card__profile">Bruno Lopes</p>
                    <h3 class="card__title card__title--desktop">Love Machine</h3>
                    <p class="card__info card__info--time">33 minutos</p>
                    <button class="card__button card__button--play" aria-label="Botão assistir agora"></button>
                </div>
            </article>

        </section>
        <!-- end of desktop version changes -->

    </main>

    <script src="../script.js"></script>
    
</body>
</html>