/* --------------------- cards styles */
.card {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--gray-80);
}

.card__image--section {
    height: 10rem;
    object-fit: cover;
}

.card__image--desktop {
    display: none;
}

.card--highlights {
   margin-bottom: 1rem; 
}

.card__content {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: .5rem;
    column-gap: 1.5rem;
}

.card__highlight {
    grid-column: span 2;
    font-weight: 400;
    line-height: 2rem;
}

.card__title {
    grid-column: span 2;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.card__profile {
    grid-column: span 2;
}

.card__profile, .card__info {
    color: var(--gray-50);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.card__info {
    display: flex;
    align-items: center;
}

.card__info--article {
    color: var(--white);
}

.card__info--profile::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/profile_2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .5rem;
}

.card__info--time::before {
    content: "\e90c";
    margin-right: .5rem;
}

.card__info--views::before {
    content: "\e90f";
    margin-right: .5rem;
}

.card__info--price::before {
    content: "\e905";
    margin-right: .5rem;
}

.card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 8px; 
    font-size: .875rem; 
    justify-self: flex-end;  
}

.card__button--play::before {
    content: "\e90b";
    font-size: 1.5rem;
}

.card__button--buy::before {
    content: "\e901";
    font-size: 1.5rem;
}

.card__button--map::before {
    content: "\e908";
    font-size: 1.5rem;
}

.card__button--highlights {
    width: 100%;
    grid-column: span 2;
}

.card__button--highlights::before {
    margin-right: .5rem;
}

.card--recent {
    display: none;
}

@media screen and (min-width: 1440px) {
    
    .card--highlights {
        margin-bottom: 0;
    }

    .card__image--desktop {
        display: block;
    }

    .card__image--mobile {
        display: none;
    }

    .card__highlight {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.5rem;
    }

    .card__title {
        font-size: 1.625rem;
        line-height: 2rem;
    }

    .card__title--desktop {
        font-size: 1.125rem;
        line-height: 1.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: 1.5rem;
    }

    .card__title--recent {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    .card__button {
        font-size: 1rem;  
    }

    .card__button--highlights {
        padding: 1rem .5rem;
        width: 9.5rem;
        justify-self: left;
    }

    .card__button--desktop {
        width: 10.375rem;
    }

    .card--recent {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        row-gap: 1.5rem;
        width: 16rem;
        padding: 1rem;
        box-sizing: border-box;
        align-self: flex-start;
    }

    .card--recent .card__title {
        grid-column: auto;
    }

    .card__link {
        font-size: .8rem;
        font-weight: 600;
        color: #0480DC;
        justify-self: flex-end;
    }

    .card__list {
        display: grid;
        row-gap: 1rem;
        grid-column: span 2;
    }

    .card__item {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1rem;
        font-size: .875rem;
        line-height: 1.5rem;
    }

    .card__item-thumbnail {
        width: 2rem;
        grid-row: span 2;
    }

    .card__item-title {
        font-weight: 700;
    }

    .card__item-profile {
        color: var(--gray-50);
        font-weight: 400;
    }

    .card-place {
        margin-bottom: 1rem;
    }

    .card__info--article-views {
        justify-self: right;
    }
}