@font-face {
    font-family: "icones";
    src: url(../font/icones.ttf);
}

:root {
    /* Basic colors */
    --black: #15191C;
    --gray-90: #1D232A;
    --gray-80: #2C343A;
    --gray-50: #95999C;
    --gray-20: #D5D5D5;
    --gray-10: #E7E7E7;
    --gray-5: #F3F3F3;
    --white: #FFFFFF;
    /* Highlights colors */
    --blue: #0480DC;
    --blue-secondary: #0063AC;
    --blue-secondary-2: #004B83; 
    /* Semantic colors */
    --red: #F83636;
    --green: #1AB060;
    /* Font main */
    --font-main: 'Open Sans', "icones", sans-serif; 
}

/* --------------------- general styles */
body {
    background-color: var(--gray-90);
    font-family: var(--font-main);
    color: var(--white);
}

/* --------------------- header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color:var(--black);
    padding: .5rem 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.header__logo {
    width: 2.4325rem;
}

.header__menu span::before {
    content: "\e904";
    font-size: 1.5rem;
}

.header__notification span::before {
    content: "\e906";
    font-size: 1.5rem;
}


/* --------------------- side menu styles */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    width: 75vw;
    height: 100vh;
    left: 0;
    transition: .25s;
    z-index: 99;
}

.sidebar--inactive {
    position: absolute;
    left: -100vw;
    transition: .25s;
}

.sidebar__logo {
    align-self: center;
    width: 7.176rem;
    padding: 1rem;
}

.sidebar__link {
    display: flex;
    align-items: center;
    color: var(--gray-50);
    height: 4rem;
    padding-left: 4rem;
}

.sidebar__link--active {
    color: var(--white);
    padding-left: 3.5rem;
    border-left: .5rem solid var(--white);
}

.sidebar__link::before {
    content: "";
    position: absolute;
    left: 1.5rem;
    width: 1.3rem;
    height: 1.3rem;
    font-size: 1.3rem;
}

.sidebar__link--inicio::before {
    content:"\e902";
}

.sidebar__link--videos::before {
    content:"\e90e";
}

.sidebar__link--picos::before {
    content:"\e909";
}
.sidebar__link--integrantes::before {
    content:"\e903";
}

.sidebar__link--camisas::before {
    content:"\e900";
}

.sidebar__link--pinturas::before {
    content:"\e90a";
}

/* --------------------- main styles */
.main {
    padding: 1.5rem 1rem;
}

.page-title {
    font-size: 1.625rem;
    font-weight: 700;
}

/* --------------------- cards styles */
.card {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--gray-80);

    margin: 1rem 0;
}

.card__content {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__highlight {
    grid-column: span 2;

    font-weight: 400;
    line-height: 2rem;
}

.card__title {
    font-size: 1.125rem;
    font-weight: 700;

    grid-column: span 2;

    line-height: 1.5rem;
    padding: .5rem 0;
}

.card__profile {
    grid-column: span 2;
}

.card__profile, .card__info {
    color: var(--gray-50);
    font-size: .875rem;

    font-weight: 400;
    line-height: 1.5rem;
}

.card__info {
    display: flex;
    align-items: center;

    padding: .5rem 0;
}

.card__info--time::before {
    content: "\e90c";
    margin-right: .5rem;
}

.card__info--views::before {
    content: "\e90f";
    margin-right: .5rem;
}

.card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 8px; 
    font-size: .875rem;   
}

.card__button--play::before {
    content: "\e90b";
    font-size: 1.5rem;
} 

.card__button--highlights {
    width: 100%;
    grid-column: span 2;
}

.card__button--highlights::before {
    margin-right: .5rem;
}