@import "./header.css";
@import "./sidebar.css";
@import "./card.css";
@import "./section.css";

@font-face {
    font-family: "icones";
    src: url(../font/icones.ttf);
}

:root {
    /* Basic colors */
    --black: #15191C;
    --gray-90: #1D232A;
    --gray-80: #2C343A;
    --gray-50: #95999C;
    --gray-20: #D5D5D5;
    --gray-10: #E7E7E7;
    --gray-5: #F3F3F3;
    --white: #FFFFFF;
    /* Highlights colors */
    --blue: #0480DC;
    --blue-secondary: #0063AC;
    --blue-secondary-2: #004B83; 
    /* Semantic colors */
    --red: #F83636;
    --green: #1AB060;
    /* Font main */
    --font-main: 'Open Sans', "icones", sans-serif; 
}

/* --------------------- general styles */
body {
    background-color: var(--gray-90);
    font-family: var(--font-main);
    color: var(--white);
}

@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

/* --------------------- main styles */
.main {
    padding: 1.5rem 1rem;
    display: grid;
    gap: 1rem;
}

.page-title {
    font-size: 1.625rem;
    font-weight: 700;
}


@media screen and (min-width: 1440px) {
    main {
       display: grid;
       grid-template-columns: auto 1fr auto; 
       grid-template-areas:
        "title-page title-page title-page"
        "highlight-video highlight-video videos-recents"
        "section-videos section-videos section-videos"
        "products-recents highlight-product highlight-product"
        "section-products section-products section-products"
        ;
       column-gap: 2rem;
       padding: 1rem 3.75rem;
       grid-column: 2;
    }

    .page-title {
        grid-area: title-page;
    }
}

/* --------------------- grid-area styles */

@media screen and (min-width: 1440px) {
    .highlight-video {
        grid-area: highlight-video;
    }
    
    .videos-recents {
        grid-area: videos-recents;
    }
    
    .section-videos {
        grid-area: section-videos;
    }
    
    .highlight-product {
        grid-area: highlight-product;
    }
    
    .products-recents {
        grid-area: products-recents;
    }
    
    .section-products {
        grid-area: section-products;
    }
}
